// font
@font-face {
    font-family: 'vazir';
    /*define a font*/
    src: url('../fonts/vazir-font-v16.1.0/Vazir.eot');
    /*ie 9 and ...*/
    src: local('vazir'), /*check if font is installed in user system*/
    local('vazir'), /*browsers like safari*/
    url('../fonts/vazir-font-v16.1.0/Vazir.eot?#iefix') format('embedded-opentype'), /*hack for ie 8 and before*/
    url('../fonts/vazir-font-v16.1.0/Vazir.woff') format('woff'), /*new browsers*/
    url('../fonts/vazir-font-v16.1.0/Vazir.ttf') format('truetype'), /*all browsers except ie*/
    url('../fonts/vazir-font-v16.1.0/Vazir.svg#Vazir') format('svg');
    /*old version iOS*/
    font-style: normal;
    font-weight: normal;
}

// different sizes:
//@media screen and (max-width: 970px) and (min-width:769px)
// Tablets and iPads
//@media screen and (max-width: 768px) and (min-width:481px)
// Mobiles
//@media screen and (max-width: 480px)
// variables
$primary-color: rgb(24,
148,
255);
$secondary-color:rgb(230,
243,
255);
$text-color:rgb(110,
110,
110);
$topic-color:rgb(42,
102,
183);
$topic-side-color:rgb(0,
222,
154);
// tags
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
}

body {
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: rgb(76, 76, 76);
        cursor: pointer;
        &:hover {
            color: $primary-color;
            text-decoration: none;
        }
    }
    img {
        max-width: 100;
        height: auto;
    }
}

// functions
@mixin flex($dir,
$align,
$justify) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $justify;
}

@mixin buttonLarge {
    width: 170px;
    height: 52px;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 12px;
}

@mixin button--light {
    background-color: $secondary-color;
    color: $primary-color;
    border: 1px solid $secondary-color;
}

@mixin button--full {
    background-color: $primary-color;
    color: #fff;
    border: 1px solid $primary-color;
}

@mixin button--empty {
    background-color: #fff;
    color: $primary-color;
    border: 1px solid $primary-color;
}